<nav class="navbar app-nav" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" reload-link class="navbar-brand">BlocMarks</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout" reload-link>Log Out</a></li>
          <li><a href="/users/new" reload-link>Sign Up</a></li>
          <li><a href="/login" reload-link>Log In</a></li>
      </ul>
    </div>
  </div>
</nav>