<h1>Create An Account</h1>
<p>Start blocmarking in 2 minutes with our super simple signup!</p>
<form ng-submit='createNewUser(user)'>
  <input type='text' ng-model='user.name'>
  <input type='text' ng-model='user.email'>
  <input type='password' ng-model='user.password'>
  <input type='password' ng-model='user.password_confirmation'>
  <input type='submit' value='Create User'>
</form>