<nav class="navbar app-nav" role="navigation">
  <script type="text/ng-template" id="newBookmark.html">
    <div class="modal-header">
      <h1>Add A BlocMark</h1>
    </div>
    <div class="modal-body">
      <p>Continue by sharing the link, title and a short description of your bookmark.</p>
      <form class="registration-form" ng-submit='createNewBookmark(bookmark)'>
        <label for="link">Link</label>
        <input type='url' ng-model='bookmark.link' class="form-control" id="link">
        <label for="title">Title</label>
        <input type='text' ng-model='bookmark.title' class="form-control" id="title">
        <label for="description">Description</label>
        <input type='text' ng-model='bookmark.description' class="form-control" id="description">
        <input type='submit' value='Submit' class="btn">
      </form>
    </div>
  </script>
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/home" reload-link class="navbar-brand">BlocMarks</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="open()">Add Bookmark</a></li>
        <li><a href="/api/logout" reload-link>Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>