<div class="container">
  <div class="row">
    <h1>{{ user.name }}'s latest bookmarks</h1>
  </div>
  <div class="row">
    <div ng-repeat="bookmark in user.bookmarks" class="col-md-11">
      <h3>{{ bookmark.title }}</h3>
      <p>{{ bookmark.description }}</p>
      <a href="">{{ bookmark.link }}</a>
      <div class="category-tag-container">
        <span class="category-tag" ng-repeat="category in bookmark.categories">{{ category.name }}</span>
        <create-category category-array="bookmark.categories" bookmark-id="{{ bookmark.id }}"></create-category>
      </div>
    </div>
  </div>
</div>
<!-- 

<div ng-show="showInput == true">
  <input ng-model="newLabel">
  <a ng-click="createLabel(newLabel)"></a>
</div>
<div ng-show="showInput == false">
  <button ng-click="showInput = true">Add</button>
</div> -->