<div class="container">
  <div class="row">
    <h1>{{ user.name }}'s latest bookmarks</h1>
  </div>
  <div class="row">
    <div ng-repeat="bookmark in user.bookmarks" class="col-md-11">
      <h3>{{ bookmark.title }}</h3>
      <p>{{ bookmark.description }}</p>
      <a href="">{{ bookmark.link }}</a>
      <div class="category-tag-container">
        <span class="category-tag" ng-repeat="category in bookmark.categories">{{ category.name }}</span>
        <span class="btn btn-xs btn-default" ng-show="showAddCategory" ng-click="showAddCategory = false">Add Category</span>
        <span class="input-group input-group-sm category-input-group" ng-show="showAddCategory == false" ng-init="newCategory = {}">
          <span class="input-group-btn" ng-click="showAddCategory = true">
            <span class="btn btn-danger btn-xs">X</span>
          </span>
          <input class="form-control" ng-model="newCategory.name">
          <span class="input-group-btn">
            <span class="btn btn-success btn-xs" ng-click="createCategory(newCategory, bookmark.id, bookmark.categories)">+</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- 

<div ng-show="showInput == true">
  <input ng-model="newLabel">
  <a ng-click="createLabel(newLabel)"></a>
</div>
<div ng-show="showInput == false">
  <button ng-click="showInput = true">Add</button>
</div> -->