var app = angular.module('blocMarksDirectives', []);

app.directive('reloadLink', ['$window', function($window) {
  return {
    restrict: 'A',
    link: function(scope, element, attributes) {
      element.on('click', function () {
        $window.location.href = attributes.href;
      });
    }
  };
}]);

app.directive('createCategory', ['$http', 'Category', function($http, Category) {
  return {
    restrict: 'E',
    templateUrl: "<%= asset_path('templates/create-category.html') %>",
    scope: {
      categoryArray: '='
    },
    link: function(scope, element, attributes) {
      scope.showAddButton = true;
      scope.newCategory = {};

      scope.createCategory = function() {
        Category.create(scope.newCategory, attributes.bookmarkId);
        scope.categoryArray.push(scope.newCategory);
        scope.newCategory = {};
        scope.showAddButton = true;
      }; 
      // alert(JSON.stringify(attributes.categoryArray));
    }
  }
}]);

app.directive('voteCount', ['$http', function($http) {
  return {
    restrict: 'E',
    template: "<div>{{ voteCount }}</div>",
    scope: {
      bookmarkId: '='
    },
    link: function(scope, element, attributes) {
      $http.get('/api/bookmarks/' + scope.bookmarkId)
        .success(function(data) {
          scope.voteCount = data.votes.length;
        }).error(function(data) {
          console.log('Error showing bookmark');
        })
    }
  }
}]);