var app = angular.module('blocMarksDirectives', []);

app.directive('reloadLink', ['$window', function($window) {
  return {
    restrict: 'A',
    link: function(scope, element, attributes) {
      element.on('click', function () {
        $window.location.href = attributes.href;
      });
    }
  };
}]);

app.directive('createCategory', ['$http', 'Category', function($http, Category) {
  return {
    restrict: 'E',
    templateUrl: "<%= asset_path('templates/create-category.html') %>",
    scope: {
      categoryArray: '='
    },
    link: function(scope, element, attributes) {
      scope.showAddButton = true;
      scope.newCategory = {};

      scope.createCategory = function() {
        Category.create(scope.newCategory, attributes.bookmarkId);
        scope.categoryArray.push(scope.newCategory);
        scope.newCategory = {};
        scope.showAddButton = true;
      }; 
      // alert(JSON.stringify(attributes.categoryArray));
    }
  }
}]);

app.directive('voteCount', ['Bookmark', function(Bookmark) {
  return {
    restrict: 'E',
    template: "<div>{{ bookmarkVoteCount() }}</div>",
    scope: {
      bookmarkId: '='
    },
    link: function(scope, element, attributes) {
      scope.bookmarkVoteCount = function() {
        bookmark = Bookmark.show(scope.bookmarkId);
        voteCount = Object.keys(bookmark.votes).length;
        return voteCount;
      };
    }
  }
}]);